@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

header {
    margin-bottom: 20px;
}

main {
    padding: 1em;
    width: 300px !important;
}

input {
    width: 195px !important;
    text-align: right;
    margin-bottom: 1em;
    background-color: rgb(170, 250, 133) !important;
    border: 1px solid #fff !important;
    font-family: 'Silkscreen', sans-serif;
}

/*remover a borda e o radius do botão*/
.btn {
    border: none !important;
    border-radius: 0px !important;
    width: 70px !important;
}

.btn-group {
    width: 180px !important;
}